---
var buildTime = new Date();
buildTime.setHours(buildTime.getHours() - 1);
---

<script>
let timeElement = document.getElementById('time') as HTMLSpanElement;
function timeAgo() {
  if (!timeElement){
    return 'time element not found';
  }

  const timeStamp = new Date(timeElement.innerHTML);
  console.log(`timeStamp: ${timeStamp}`); 
  // huh 
  const seconds = Math.floor((new Date().getTime() - timeStamp.getTime()) / 1000);
  const intervals = [
    { label: 'year', seconds: 31536000 },
    { label: 'month', seconds: 2592000 },
    { label: 'day', seconds: 86400 },
    { label: 'hour', seconds: 3600 },
    { label: 'minute', seconds: 60 },
    { label: 'second', seconds: 1 },
  ];

  for (let i = 0; i < intervals.length; i++) {
    console.log(intervals[i]);
    const currentInterval = intervals[i];
    const count = Math.floor(seconds / currentInterval.seconds);
    if (count >= 1) {
      return `${count} ${currentInterval.label}${count > 1 ? 's' : ''} ago`;
    }
  }
  return 'just now';
}


timeElement.innerHTML = `${timeAgo()}`;
timeElement.style.visibility = 'visible';

</script>
<span id="time" style="visibility: hidden">{buildTime}</span>